<a href="https://colab.research.google.com/github/shahidfarhan22/Pdf_Scrapping/blob/main/PDF_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import os
import requests
import pandas as pd
from urllib.parse import urljoin
from bs4 import BeautifulSoup

In [29]:
!pip install tabula-py
import tabula

Collecting tabula-py
  Downloading tabula_py-2.7.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 51.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.22.4)
Collecting distro (from tabula-py)
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.7.0

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

The url input for downloading pdfs and setting up output folder path

In [21]:
# Save contenets from url into folder_location
url="https://www.premierleague.com/about/publications"
folder_location='/content/drive/MyDrive/Colab Notebooks/Premier_league'
if not os.path.exists(folder_location):
  os.mkdir(folder_location)

In [26]:
response=requests.get(url)
soup=BeautifulSoup(response.text,'html.parser')

#loop through all PDF links in the page
for link in soup.select("a[href$='.pdf']"):
  #local file name is same as the PDF file name in the URL (ignore rest of the path)
  filename= os.path.join(folder_location,link['href'].split('/')[-1])

  with open(filename,'wb') as f:
    f.write(requests.get(urljoin(url,link['href'])).content)

Reading a table from a PDF document and storing it in a csv file

In [31]:
combined_pdf=folder_location+"/PL_Handbook_2023-24_DIGITAL_21.07.23.pdf"
tabula.read_pdf(combined_pdf,pages='360')

[   Unnamed: 0               Unnamed: 1 Unnamed: 2 Home Away Unnamed: 3  \
 0         Pos                     Club          P    W    D          L
 1           1          Manchester City         38   17    1          1
 2           2                  Arsenal         38   14    3          2
 3           3        Manchester United         38   15    3          1
 4           4         Newcastle United         38   11    6          2
 5           5                Liverpool         38   13    5          1
 6           6   Brighton & Hove Albion         38   10    4          5
 7           7              Aston Villa         38   12    2          5
 8           8        Tottenham Hotspur         38   12    1          6
 9           9                Brentford         38   10    7          2
 10         10                   Fulham         38    8    5          6
 11         11           Crystal Palace         38    7    7          5
 12         12                  Chelsea         38    6    7          6
 13         13  Wolverhampton Wanderers         38    9    3          7
 14         14          West Ham United         38    8    4          7
 15         15          AFC Bournemouth         38    6    4          9
 16         16        Nottingham Forest         38    8    6          5
 17         17                  Everton         38    6    3         10
 18         18           Leicester City         38    5    4         10
 19         19             Leeds United         38    5    7          7
 20         20              Southampton         38    2    5         12

    Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
 0           F          A          W          D          L          F
 1          60         17         11          4          4         34
 2          53         25         12          3          4         35
 3          36         10          8          3          8         22
 4          36         14          8          8          3         32
 5          46         17          6          5          8         29
 6          37         21          8          4          7         35
 7          33         21          6          5          8         18
 8          37         25          6          5          8         33
 9          35         18          5          7          7         23
 10         31         29          7          2         10         24
 11         21         23          4          5         10         19
 12         20         19          5          4         10         18
 13         19         20          2          5         12         12
 14         26         24          3          3         13         16
 15         20         28          5          2         12         17
 16         27         24          1          5         13         11
 17         16         27          2          9          8         18
 18         23         27          4          3         12         28
 19         26         37          2          3         14         22
 20         19         37          4          2         13         17

    Unnamed: 10 Unnamed: 11 Unnamed: 12
 0            A          GD         Pts
 1           16          61          89
 2           18          45          84
 3           33          15          75
 4           19          35          71
 5           30          28          67
 6           32          19          62
 7           25           5          61
 8           38           7          60
 9           28          12          59
 10          24           2          52
 11          26          -9          45
 12          28          -9          44
 13          38         -27          41
 14          31         -13          40
 15          43         -34          39
 16          44         -30          38
 17          30         -23          36
 18          41         -17          34
 19          41         -30          31
 20          36         -37          25  ]

In [36]:
from tabula import convert_into
convert_into(combined_pdf,folder_location+"/table_output.csv",output_format='csv',pages=360)
pd.read_csv(folder_location+"/table_output.csv")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Home,Away,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Pos,Club,P,W,D,L,F,A,W,D,L,F,A,GD,Pts
1,1,Manchester City,38,17,1,1,60,17,11,4,4,34,16,61,89
2,2,Arsenal,38,14,3,2,53,25,12,3,4,35,18,45,84
3,3,Manchester United,38,15,3,1,36,10,8,3,8,22,33,15,75
4,4,Newcastle United,38,11,6,2,36,14,8,8,3,32,19,35,71
5,5,Liverpool,38,13,5,1,46,17,6,5,8,29,30,28,67
6,6,Brighton & Hove Albion,38,10,4,5,37,21,8,4,7,35,32,19,62
7,7,Aston Villa,38,12,2,5,33,21,6,5,8,18,25,5,61
8,8,Tottenham Hotspur,38,12,1,6,37,25,6,5,8,33,38,7,60
9,9,Brentford,38,10,7,2,35,18,5,7,7,23,28,12,59
10,10,Fulham,38,8,5,6,31,29,7,2,10,24,24,2,52
11,11,Crystal Palace,38,7,7,5,21,23,4,5,10,19,26,-9,45
12,12,Chelsea,38,6,7,6,20,19,5,4,10,18,28,-9,44
13,13,Wolverhampton Wanderers,38,9,3,7,19,20,2,5,12,12,38,-27,41
14,14,West Ham United,38,8,4,7,26,24,3,3,13,16,31,-13,40
15,15,AFC Bournemouth,38,6,4,9,20,28,5,2,12,17,43,-34,39
16,16,Nottingham Forest,38,8,6,5,27,24,1,5,13,11,44,-30,38
17,17,Everton,38,6,3,10,16,27,2,9,8,18,30,-23,36
18,18,Leicester City,38,5,4,10,23,27,4,3,12,28,41,-17,34
19,19,Leeds United,38,5,7,7,26,37,2,3,14,22,41,-30,31
20,20,Southampton,38,2,5,12,19,37,4,2,13,17,36,-37,25

In [32]:
combined_pdf=folder_location+"/PL_Handbook_2023-24_DIGITAL_21.07.23.pdf"
tabula.read_pdf(combined_pdf,pages='361')

[                                       Club Pld Average Aggregate  \
 0                            AFC Bournemouth 19            11,081
 1                     Arsenal AFC Bournemou1th9         60,2008-3
 2                         Aston Villa Arsen1a9l         3-421,711
 3     Brentford v AFC BournemouthAston Villa 19    17,058 3-0 2-4
 4                     Brighton & Hove Albion 19            31,481
 5                                     Brentford           2-0 0-3
 6                                    Chelsea 19            40,025
 7   6-0Crystal Palace Brighton & Hove Albion 19    1-0 25,121 2-4
 8                             Everton Chelse1a9      2-309,2700-1
 9                      Fulham Crystal Palace 19      2-203,7602-2
 10                       Leeds United Everto1n9      1-306,6415-0
 11                                          NaN               NaN
 12                      Leicester City Fulha1m9      2-321,8807-3
 13                                 Liverpool 19            52,931
 14                                 Leeds United           4-3 0-1
 15                           Manchester City 19            53,041
 16                               Leicester City           0-1 0-1
 17                         Manchester United 19            73,574
 18                                    Liverpool               NaN
 19                          Newcastle United 19      9-502,2025-2
 20           Nottingham FMoraenscthester Ci1t9y      4-209,1848-1
 21               SouthamptMonanchester Unite1d9      3-300,2836-1
 22          Tottenham HNoetwspcuarstle Unite1d9      1-612,6602-2
 23           West Ham UNnoittteindgham Fore1s9t    62,332 2-3 1-0
 24                                Wolverhampton               NaN
 25            1v- 2EvertWanderers Southampto1n9      0-311,3418-1
 26                   TOTAL Tottenham Hots3p8u0r      2-430,2901-2
 27                              West Ham United           2-0 2-2
 28                                          NaN               NaN
 29                      Wolverhampton Wanderers           0-1 0-2

            Unnamed: 0    Utilisation         Max  \
 0             210,544          98.0%      11,280
 1     12,1-403,9600-0    0-299.21%-3   600-,3252
 2       27-912,5114-1    0-397.83%-1   442-,2112
 3         324,098 4-0  98.9% 2-1 0-2  17,163 1-0
 4             598,141          99.1%      31,746
 5                 1-1        2-0 0-0         1-1
 6             760,477          99.2%      40,179
 7     1-2 477,299 3-3      4-1 98.6%  1-0 25,298
 8       07-426,1201-2       1-299.6%   319-,3095
 9       34-511,4711-1    1-198.91%-2      24,498
 10      06-926,2613-0    1-497.40%-1   336-,9055
 11                NaN            NaN         NaN
 12      36-005,8630-2    2-198.82%-1   322-,2227
 13          1,005,688          99.1%      53,428
 14            0-0 0-0        2-2 3-0         1-5
 15          1,007,774          99.3%      53,490
 16            1-2 2-2        2-2 1-3         0-0
 17          1,397,905          99.0%      75,546
 18                NaN            NaN         NaN
 19      19-911,8912-0    3-399.80%-0   512-,2171
 20      35-514,5710-2    3-196.21%-0   249-,5214
 21      15-705,4317-0    1-293.54%-1   321-,2126
 22    14,1-900,5855-1   4-199.7% 1-0  62,684 0-0
 23  1,184,309 1-1 2-2  99.7% 3-1 1-1  62,500 1-0
 24                NaN            NaN         NaN
 25      05-915,6108-2    1-398.72%-1   301-,6284
 26   15,03-120,5216-3    2-198.72%-0         1-0
 27            1-1 0-2        0-2 1-1         1-2
 28                NaN            NaN         NaN
 29            1-0 2-0        2-3 1-0         2-0

                               Opposition Unnamed: 1  Unnamed: 2 Unnamed: 3  \
 0                          v Aston Villa        NaN         NaN        NaN
 1                  3v- L0iver2p-o1ol 4-1        2-1         NaN        1-0
 2   4v- B0righ2t-o1n & H4-o1ve A4lb-i2on        NaN         NaN        3-2
 3                            2-1 1-0 2-1        2-4         NaN        1-3
 4                              v Chelsea        NaN         NaN        NaN
 5                            1-1 3-2 5-2        1-1         NaN        3-1
 6                          v Southampton        NaN         NaN        NaN
 7                1-5 v Liverpool 0-1 1-0        5-2         NaN        3-0
 8          2v- 2AFC 0B-o0urne1m-0outh2-1        NaN         NaN        0-0
 9            0v- M0 anc0h-3ester2 -C1ity        2-1         NaN        0-0
 10           v Newc1a-3stle U1-n0ited0-2        NaN         NaN        0-0
 11                                   NaN        NaN         NaN        NaN
 12                      0v- A0rsenal 2-1        5-3         NaN        2-2
 13                    v Newcastle United        NaN         NaN        NaN
 14                               1-1 2-3        1-1         NaN        1-6
 15                             v Chelsea        NaN         NaN        NaN
 16                           2-2 0-1 2-0        NaN         NaN        0-3
 17                     v Manchester City        NaN         NaN        NaN
 18                                   NaN        NaN         NaN        NaN
 19                 2v- L0iver1p-o0ol 1-2        2-1         NaN        NaN
 20                   1v- 1Arsen2a-1l 2-1        3-1         NaN        4-1
 21                   2v- A0rsen2a-1l 2-2        3-0         NaN        2-1
 22                1-0 v Liverpool1-0 0-0        0-0         NaN        0-2
 23          v Manchester City2-2 2-3 1-0        2-0         NaN        1-0
 24                                   NaN        NaN         NaN        NaN
 25                             0o-n2 2-2        1-0         NaN        4-4
 26                           2-0 2-1 4-3        6-2         NaN        1-2
 27                           2-0 3-1 3-1        0-2         NaN        1-2
 28                                   NaN        NaN         NaN        NaN
 29                           1-1 0-0 2-4        0-4         NaN        3-0

    Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
 0         NaN        NaN        NaN        NaN        NaN        NaN
 1         1-4        0-1        1-1        1-1        0-1        2-3
 2         1-3        3-2        0-0        5-0        3-3        3-1
 3         1-1        3-1        3-0        2-0        1-0        2-1
 4         NaN        NaN        NaN        NaN        NaN        NaN
 5         1-0        4-0        1-2        2-1        3-0        2-2
 6         NaN        NaN        NaN        NaN        NaN        NaN
 7         1-1        1-0        0-0        0-0        3-1        0-1
 8         0-1        1-1        1-1        2-2        0-1        2-2
 9         0-1        1-1        0-0        1-1        1-0        0-4
 10        0-3        1-2        1-4        1-1        1-2        1-1
 11        NaN        NaN        NaN        NaN        NaN        NaN
 12        1-2        1-2        1-4        2-0        2-1        0-1
 13        NaN        NaN        NaN        NaN        NaN        NaN
 14        1-3        0-2        2-2        2-1        1-0        1-4
 15        NaN        NaN        NaN        NaN        NaN        NaN
 16        0-1        0-1        0-3        4-0        1-2        4-1
 17        NaN        NaN        NaN        NaN        NaN        NaN
 18        NaN        NaN        NaN        NaN        NaN        NaN
 19        1-0        7-0        2-1        3-2        3-1        4-3
 20        NaN        6-3        2-0        6-0        4-0        4-2
 21        2-1        NaN        0-0        3-0        0-0        2-0
 22        3-3        2-0        NaN        2-0        3-1        6-1
 23        1-1        0-2        1-2        NaN        4-3        0-2
 24        NaN        NaN        NaN        NaN        NaN        NaN
 25        1-4        0-1        1-4        0-1        NaN        3-3
 26        1-0        2-2        1-2        3-1        4-1        NaN
 27        0-2        1-0        1-5        4-0        1-0        1-1
 28        NaN        NaN        NaN        NaN        NaN        NaN
 29        0-3        0-1        1-1        1-0        1-0        1-0

    Unnamed: 10 Unnamed: 11  Unnamed: 12      Unnamed: 13
 0          NaN         NaN          NaN              NaN
 1          0-4         0-0          NaN              NaN
 2          3-1         5-0          NaN              NaN
 3          0-1         1-1          NaN              NaN
 4          NaN         NaN          NaN  AFC Bournemouth
 5          2-0         1-1          NaN              NaN
 6          NaN         NaN          NaN              NaN
 7          4-0         NaN          NaN          Arsenal
 8          2-1         3-0          NaN              NaN
 9          4-3         2-1          NaN      Aston Villa
 10         1-0         1-2          NaN              NaN
 11         NaN         NaN          NaN        Brentford
 12         0-1         1-1          NaN              NaN
 13         NaN         NaN          NaN       Brighton &
 14         2-2         2-1          NaN      Hove Albion
 15         NaN         NaN          NaN              NaN
 16         2-1         2-1          NaN              NaN
 17         NaN         NaN          NaN          Chelsea
 18         NaN         NaN          NaN              NaN
 19         1-0         2-0          NaN              NaN
 20         3-0         3-0          NaN   Crystal Palace
 21         1-0         2-0          NaN              NaN
 22         1-1         2-1          NaN          Everton
 23         1-0         1-1          NaN           Fulham
 24         NaN         NaN          NaN              NaN
 25         1-1         1-2          NaN              NaN
 26         2-0         1-0          NaN     Leeds United
 27         NaN         2-0          NaN              NaN
 28         NaN         NaN          NaN   Leicester City
 29         1-0         NaN          NaN              NaN  ]

In [33]:
combined_pdf=folder_location+"/PL_Handbook_2023-24_DIGITAL_21.07.23.pdf"
tabula.read_pdf(combined_pdf,pages='362')

[       AFC Bournemouth     P  Su\rP  Sub\rNP  GS  Unnamed: 0  Unnamed: 1  \
 0           Adam Smith  34.0    3.0      0.0   0         NaN         NaN
 1      Antoine Semenyo   2.0    NaN      4.0   1         NaN         NaN
 2        Ben Greenwood   0.0    NaN      1.0   0         NaN         NaN
 3          Ben Pearson   3.0    NaN      7.0   0         NaN         NaN
 4        Cameron Plain   NaN    NaN      6.0   0         NaN         NaN
 5         Chris Mepham   2.0    NaN      NaN   0         NaN         NaN
 6     Christian Saydee   NaN    NaN      NaN   0         NaN         NaN
 7       Dango Ouattara   1.0    NaN      NaN   1         NaN         NaN
 8     Daniel Adu-Adjei   NaN    NaN      NaN   0         NaN         NaN
 9      Darren Randolph   NaN    NaN      NaN   0         NaN         NaN
 10        David Brooks   NaN    NaN      NaN   0         NaN         NaN
 11        Dominic Sadi   NaN    NaN      NaN   0         NaN         NaN
 12     Dominic Solanke   3.0    NaN      NaN   6         NaN         NaN
 13  Emiliano Marcondes   NaN    NaN      NaN   0         NaN         NaN
 14        Euan Pollock   NaN    NaN      NaN   0         NaN         NaN
 15        Hamed Traorè   NaN    NaN      NaN   0         NaN         NaN
 16      Illia Zabarnyi   NaN    NaN      NaN   0         NaN         NaN
 17         Jack Stacey   NaN    NaN      1.0   0         NaN         NaN
 18       Jack Stephens   1.0    NaN      1.0   0         NaN         NaN
 19      Jaidon Anthony   1.0    1.0      NaN   3         NaN         NaN
 20          Jamal Lowe   NaN    NaN      NaN   0         NaN         NaN

                          P.1  Sub\rP  Sub\rNP.1  GS.1  Unnamed: 2
 0                 James Hill     0.0        0.0   6.0           0
 1            Jefferson Lerma    37.0        0.0   0.0           5
 2               Joe Rothwell    12.0        8.0   7.0           0
 3              Jordan Zemura    17.0        NaN   NaN           0
 4           Junior Stanislas     NaN        NaN   NaN           0
 5              Kieffer Moore     1.0        1.0   NaN           4
 6                 Lewis Cook     1.0        1.0   NaN           0
 7                Lloyd Kelly     2.0        NaN   NaN           0
 8              Marcos Senesi     2.0        NaN   NaN           2
 9           Marcus Tavernier     1.0        NaN   NaN           5
 10              Mark Travers     1.0        NaN   2.0           0
 11               Matías Viña     NaN        NaN   NaN           2
 12       Max Kinsey-Wellings     NaN        NaN   NaN           0
 13  Michael Dacosta Gonzalez     NaN        NaN   NaN           0
 14                      Neto     2.0        NaN   NaN           0
 15                Owen Bevan     NaN        NaN   NaN           0
 16            Philip Billing     3.0        NaN   NaN           7
 17             Ryan Christie     2.0        1.0   NaN           1
 18           Ryan Fredericks     NaN        NaN   NaN           0
 19            Siriki Dembélé     NaN        NaN   NaN           0
 20               Will Dennis     NaN        NaN   NaN           0  ,
           Aston Villa     P  Su\rP  Sub\rNP  GS  Unnamed: 0  Unnamed: 1  \
 0         Álex Moreno  14.0    5.0      0.0   0         NaN         NaN
 1        Ashley Young   2.0    NaN      9.0   1         NaN         NaN
 2     Bertrand Traoré   NaN    NaN      NaN   2         NaN         NaN
 3     Boubacar Kamara   2.0    NaN      NaN   0         NaN         NaN
 4      Calum Chambers   NaN    1.0      2.0   0         NaN         NaN
 5      Cameron Archer   NaN    NaN      NaN   0         NaN         NaN
 6          Danny Ings   NaN    1.0      NaN   6         NaN         NaN
 7        Diego Carlos   NaN    NaN      1.0   0         NaN         NaN
 8        Douglas Luiz   3.0    NaN      NaN   6         NaN         NaN
 9    Emiliano Buendía   2.0    1.0      NaN   5         NaN         NaN
 10  Emiliano Martínez   3.0    NaN      NaN   0         NaN         NaN
 11         Ezri Konsa   3.0    NaN      NaN   0         NaN         NaN
 12    Filip Marschall   NaN    NaN      NaN   0         NaN         NaN
 13       Jacob Ramsey   3.0    NaN      NaN   6         NaN         NaN
 14       James Wright   NaN    NaN      NaN   0         NaN         NaN
 15       Jan Bednarek   NaN    NaN      1.0   0         NaN         NaN
 16         Jhon Durán   NaN    1.0      NaN   0         NaN         NaN
 17        John McGinn   3.0    NaN      NaN   1         NaN         NaN
 18        Kadan Young   NaN    NaN      NaN   0         NaN         NaN

                     P.1  Sub\rP  Sub\rNP.1  GS.1  Unnamed: 2
 0        Lamare Bogarde     0.0        0.0   3.0           0
 1    Leander Dendoncker     NaN        1.0   7.0           0
 2           Leon Bailey     2.0        NaN   NaN           4
 3           Lucas Digne     1.0        1.0   NaN           1
 4   Ludwig Augustinsson     NaN        NaN   NaN           0
 5     Marvelous Nakamba     NaN        NaN   NaN           0
 6            Matty Cash     2.0        NaN   NaN           0
 7         Morgan Sanson     NaN        NaN   1.0           0
 8          Oliwier Zych     NaN        NaN   NaN           0
 9         Ollie Watkins     3.0        NaN   NaN          15
 10    Philippe Coutinho     NaN        1.0   NaN           1
 11          Robin Olsen     NaN        NaN   3.0           0
 12      Sebastian Revan     NaN        NaN   NaN           0
 13         Sil Swinkels     NaN        NaN   NaN           0
 14       Tim Iroegbunam     NaN        NaN   NaN           0
 15       Tommi O’Reilly     NaN        NaN   NaN           0
 16     Travis Patterson     NaN        NaN   NaN           0
 17         Tyrone Mings     3.0        NaN   NaN           1
 18     Viljami Sinisalo     NaN        NaN   1.0           0  ,
                   Arsenal     P  Su\rP  Sub\rNP  GS  Unnamed: 0  Unnamed: 1  \
 0          Aaron Ramsdale  38.0    0.0      0.0   0         NaN         NaN
 1    Albert Sambi Lokonga   2.0    4.0     12.0   0         NaN         NaN
 2   Amario Cozier-Duberry   0.0    NaN      5.0   0         NaN         NaN
 3               Ben White   3.0    NaN      0.0   2         NaN         NaN
 4             Bukayo Saka  37.0    1.0      0.0  14         NaN         NaN
 5           Cédric Soares   0.0    NaN     10.0   0         NaN         NaN
 6           Eddie Nketiah   NaN    2.0      NaN   4         NaN         NaN
 7        Emile Smith Rowe   NaN    1.0      1.0   0         NaN         NaN
 8           Ethan Nwaneri   NaN    NaN      NaN   0         NaN         NaN
 9            Fábio Vieira   NaN    1.0      1.0   1         NaN         NaN
 10          Gabriel Jesus   2.0    NaN      NaN  11         NaN         NaN
 11      Gabriel Magalhães   3.0    NaN      NaN   3         NaN         NaN
 12     Gabriel Martinelli   3.0    NaN      NaN  15         NaN         NaN
 13           Granit Xhaka   3.0    NaN      NaN   7         NaN         NaN
 14           Jakub Kiwior   NaN    NaN      1.0   1         NaN         NaN
 15               Jorginho   NaN    NaN      NaN   0         NaN         NaN
 16              Karl Hein   NaN    NaN      NaN   0         NaN         NaN
 17         Kieran Tierney   NaN    2.0      1.0   0         NaN         NaN

                       P.1  Sub\rP  Sub\rNP.1  GS.1  Unnamed: 2
 0        Leandro Trossard    10.0       10.0   0.0         1.0
 1              Lino Sousa     0.0        0.0   1.0         0.0
 2              Marquinhos     0.0        NaN   1.0         0.0
 3         Martin Ødegaard    37.0        0.0   0.0        15.0
 4              Matt Smith     0.0        0.0   3.0         0.0
 5             Matt Turner     NaN        NaN   3.0         0.0
 6          Mauro Bandeira     NaN        NaN   NaN         0.0
 7          Mohamed Elneny     NaN        NaN   NaN         0.0
 8   Nathan Butler-Oyedeji     NaN        NaN   NaN         0.0
 9            Nicolas Pépé     NaN        NaN   NaN         0.0
 10    Oleksandr Zinchenko     2.0        NaN   NaN         1.0
 11           Reiss Nelson     NaN        1.0   1.0         3.0
 12         Reuell Walters     NaN        NaN   NaN         0.0
 13            Rob Holding     NaN        NaN   2.0         1.0
 14      Takehiro Tomiyasu     NaN        1.0   NaN         0.0
 15          Thomas Partey     2.0        NaN   NaN         3.0
 16         William Saliba     2.0        NaN   NaN         2.0
 17                    NaN     NaN        NaN   NaN         NaN  ,
              Brentford  Unnamed: 0   Su  Sub\rNP  GS  Unnamed: 1  Unnamed: 2  \
 0         Aaron Hickey         2.0  NaN      NaN   0         NaN         NaN
 1              Ben Mee         3.0  NaN      NaN   3         NaN         NaN
 2         Bryan Mbeumo         3.0  NaN      0.0   9         NaN         NaN
 3        Charlie Goode         NaN  NaN      NaN   0         NaN         NaN
 4   Christian Nørgaard         2.0  NaN      NaN   1         NaN         NaN
 5           David Raya         3.0  NaN      NaN   0         NaN         NaN
 6        Ethan Pinnock         3.0  NaN      NaN   3         NaN         NaN
 7       Finley Stevens         NaN  NaN      NaN   0         NaN         NaN
 8         Frank Onyeka         NaN  1.0      NaN   0         NaN         NaN
 9     Halil Dervisoglu         NaN  NaN      NaN   0         NaN         NaN
 10          Ivan Toney         3.0  NaN      NaN  20         NaN         NaN
 11        Josh Dasilva         1.0  2.0      NaN   4         NaN         NaN
 12  Keane Lewis-Potter         NaN  NaN      NaN   0         NaN         NaN
 13        Kevin Schade         NaN  1.0      NaN   0         NaN         NaN
 14     Kristoffer Ajer         NaN  NaN      1.0   0         NaN         NaN
 15  Mads Bech Sørensen         NaN  NaN      NaN   0         NaN         NaN
 16       Mads Roerslev         1.0  NaN      1.0   0         NaN         NaN

                    P  Su\rP  Sub\rNP.1  GS.1  Unnamed: 3
 0     Mathias Jensen    3.0        NaN   NaN         5.0
 1        Matthew Cox    NaN        NaN   2.0         0.0
 2   Michael Olakigbe    NaN        NaN   1.0         0.0
 3   Mikkel Damsgaard    NaN        1.0   NaN         0.0
 4     Pontus Jansson    NaN        NaN   NaN         1.0
 5         Rico Henry    3.0        NaN   NaN         0.0
 6       Ryan Trevitt    NaN        NaN   NaN         0.0
 7      Saman Ghoddos    NaN        1.0   1.0         0.0
 8        Sergi Canós    NaN        NaN   NaN         0.0
 9   Shandon Baptiste    NaN        1.0   NaN         0.0
 10  Thomas Strakosha    NaN        NaN   1.0         0.0
 11     Tristan Crama    NaN        NaN   NaN         0.0
 12     Vitaly Janelt    2.0        1.0   NaN         3.0
 13   Yehor Yarmolyuk    NaN        NaN   NaN         0.0
 14       Yoane Wissa    1.0        2.0   NaN         7.0
 15             Zanka    1.0        NaN   1.0         0.0
 16               NaN    NaN        NaN   NaN         NaN  ]